<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="/public/admin/css/base.css">
    <link rel='stylesheet' href="/public/admin/css/bootstrap.min.css">
</head>
<body>
    <div class="panel panel-default">
            <div class="panel-heading clear">
                <span>商品广告列表</span> 
                <a href="/admin/goodsbrand/add" class=" pull-right">增加商品广告</a>
            </div>
            <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="th">
                            <th>品牌名称</th>
                            <th>品牌LOGO</th>
                            <th>品牌网址</th>                                
                            <th>品牌描述</th>                                
                            <th class="text-center">排序</th> 
                            <th class="text-center">状态</th>                                           
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for goodsbrand in goodsbrands%}
                            <tr>
                                <td>{{goodsbrand.brand_name}}</td>
                                <td><img src="{{helper.url200(goodsbrand.brand_logo)}}" style="width:25px;height:25px;"></td>  
                                <td>{{goodsbrand.brand_url}}</td>
                                <td >{{goodsbrand.brand_desc}}</td>
                                <td >{{goodsbrand.data_sort}}</td>
                                <td >
                                    {%if goodsbrand.brand_status==1 %}
                                    显示
                                    {%else%}
                                    隐藏
                                    {%endif%}
                                </td>                                                                    
                                <td class="text-center text">　
                                    <a href="/admin/goodsbrand/edit?_id={{goodsbrand._id}}" >修改</a>　
                                    <a href="/admin/goodsbrand/delete?_id={{goodsbrand._id}}">删除</a>
                                </td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>