<link rel='stylesheet' href="/public/admin/css/base.css">
<link rel='stylesheet' href="/public/admin/css/bootstrap.min.css">
<div class="panel panel-default">
        <div class="panel-heading clear">
            <span>商品分类列表</span> 
            <a href="/admin/articlecategory/add" class=" pull-right">增加商品分类</a>
        </div>
        <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="th">
                        <th>分类名称</th>
                        <th>分类图标</th>
                        <th>跳转地址</th>
                        <th class="text-center">排序</th> 
                        <th class="text-center">状态</th>                                           
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {%for articlecategory in articlecategorys%}
                        <tr>
                            <td>{{articlecategory.acate_title}}</td>  
                            <td><span class="glyphicon {{articlecategory.acate_icon}} "></td>  
                            <td>{{articlecategory.acate_link}}</td>  
                            <td >{{articlecategory.data_sort}}</td>
                            <td >
                                {%if articlecategory.acate_status==1 %}
                                <span class="glyphicon glyphicon-ok icon-color-green"  ></span>
                                {%else%}
                                <span class="glyphicon glyphicon-remove icon-color-red" ></span>                                    
                                {%endif%}
                            </td>                                                                      
                            <td class="text-center text">　
                                <a href="/admin/articlecategory/edit?_id={{articlecategory._id}}">修改</a>　
                                <a href="/admin/articlecategory/delete?_id={{articlecategory._id}}">删除</a>
                            </td>
                        </tr>
                        {%for subcate in articlecategory.subcates%}
                        <tr>
                                <td>--{{subcate.acate_title}}</td>  
                                <td><span class="glyphicon {{subcate.acate_icon}} "></td>
                                <td>{{subcate.acate_link}}</td>  
                                <td >{{subcate.data_sort}}</td>
                                <td >
                                    {%if subcate.acate_status==1 %}
                                    <span class="glyphicon glyphicon-ok icon-color-green"  ></span>
                                    {%else%}
                                    <span class="glyphicon glyphicon-remove icon-color-red" ></span>                                    
                                    {%endif%}
                                </td>                                                                      
                                <td class="text-center text">　
                                    <a href="/admin/articlecategory/edit?_id={{subcate._id}}">修改</a>　
                                    <a href="/admin/articlecategory/delete?_id={{subcate._id}}">删除</a>
                                </td>
                            </tr>
                        {%endfor%}
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>