<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {%block cssjs%}
    {%endblock%}
</head>
<body>
    {%block header%}
        {%include "./header.html"%}
        {%include "./navigation.html"%}
    {%endblock%}

    {%block content%}
        {%include "../home/home.html"%}
    {%endblock%}

    {%block footer%}
        {%include "./footer.html"%}
    {%endblock%}
</body>
</html>