<div class="navigation">
        <div class="nav  center">
            <ul class="clearfix" id="nav_list">
                        <li>
                            <a href="#"target="_self">
                            导航
                            </a>
                        </li>
                        <li>
                            <a href="#"target="_self">
                            导航
                            </a>
                        </li>
                        <li>
                            <a href="#"target="_self">
                            导航
                            </a>
                        </li>
                        <li>
                            <a href="#"target="_self">
                            导航
                            </a>
                        </li>
                        <li>
                            <a href="#"target="_self">
                            导航
                            </a>
                        </li>
            </ul>
        </div> 
    </div>